################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BT-Identity/bin/Debug/net8.0
/BT-User/bin/Debug/net8.0
